body
{
font-family:"Arial","Sans-Serif";
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
padding: 0px;
}

div
{
margin: 0;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
}

.current-background
{
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-image: url(warehouse1.jpg);
  background-size: Auto 100%;
  opacity:0.3;
  z-index:1;
}

.current
{
  z-index:5;
  position:relative;
}

#arm
{
  transition:50ms linear;
}

#claw
{
  transition:50ms linear;
}

#claw-shut
{
  transition:50ms linear;
}

.box
{
  transition:50ms linear;
}

p
{
margin: 0;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
}
