body,html
{
  height:100%;
  min-height:100%;
}

.page_container
{
  min-height:100%;
  height:100%;
}

body
{
font-family:"Arial","Sans-Serif";
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
padding: 0px;
}

div
{
margin: 0;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
}


.c_claw_shut
{
  position:absolute;
  background-image:url(clw-shut.svg);
  background-size:100% 100%;
  background-repeat:no-repeat;
  z-index:3;
  transition:top 50ms linear;
  transition:left 50ms linear;
  -webkit-transition:top 50ms linear;
  -webkit-transition:left 50ms linear;
}
.c_claw_open
{
  position:absolute;
  background-image:url(clw-open.svg);
  background-size:100% 100%;
  background-repeat:no-repeat;
  z-index:3;
  transition:top 50ms linear;
  transition:left 50ms linear;
  -webkit-transition:top 50ms linear;
  -webkit-transition:left 50ms linear;
}
.c_arm
{
  position:absolute;
  background-image:url(arm.svg);
  background-size:100% 100%;
  background-repeat:no-repeat;
  z-index:2;
  transition:left 50ms linear;
  transition:height 50ms linear;
  transition:background-size 50ms linear;
  -webkit-transition:left 50ms linear;
  -webkit-transition:height 50ms linear;
  -webkit-transition:background-size 50ms linear;
}
.crate
{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index:4;
  transition: left 50ms linear;
  transition: top 50ms linear;
  transition: background-size 50ms linear;
  -webkit-transition: left 50ms linear;
  -webkit-transition: top 50ms linear;
  -webkit-transition: background-size 50ms linear;
}
.crate0
{
  background-image: url(crate0.svg);
}
.crate1
{
  background-image: url(crate1.svg);
}
.crate2
{
  background-image: url(crate2.svg);
}
.crate3
{
  background-image: url(crate3.svg);
}

.current-background
{
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-image: url(warehouse1.jpg);
  background-size: Auto 100%;
  opacity:0.3;
}

.current_out_of_bounds
{
  position:absolute;
  background-color:#103050;
  opacity:0.35;
  height:100%;
  top:0px;
  left:0px;
}

.current
{
  color: white;
  width:100%;
  border:2px #000;
}

.current_container
{
  color: white;
  width:100%;
  border:2px #000;
}

p
{
margin: 0;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
margin-right: 0;
}

.prog_container
{
}
.prog_table td
{
  padding:0px;
}
.prog_name
{
  border:2px solid black;
  background-color:#80ffff;
  background-size:auto 100%;
  background-repeat:no-repeat;
  background-position: center;
}
.prog_name_F1
{
  background-image:url(F1.svg);
}
.prog_name_F2
{
  background-image:url(F2.svg);
}
.prog_name_F3
{
  background-image:url(F3.svg);
}
.prog_name_F4
{
  background-image:url(F4.svg);
}
.prog_cmd_slot
{
  border:2px solid black;
  background-color:white;
}
.prog_cmd_slot_next
{
  border:2px solid green;
  background-color:#c0ffc0;
}
.prog_cmd_slot_last
{
  border:2px solid red;
  background-color:#ffc0c0;
}
.prog_cmd_slot_executing
{
  border:2px solid blue;
  background-color:yellow;
}
.prog_cmd
{
  background-size:auto 100%;
  background-repeat:no-repeat;
  background-position: center;
  text-align:center;
}
.prog_cmd_LEFT
{
  background-image:url(arrow.svg);
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  transform:rotate(180deg);
}
.prog_cmd_RIGHT
{
  background-image:url(arrow.svg);
}
.prog_cmd_GRAB
{
  background-image:url(arrow.svg);
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  transform:rotate(90deg);
}
.prog_cmd_None
{
}
.prog_cmd_F1
{
  background-image:url(F1.svg);
}
.prog_cmd_F2
{
  background-image:url(F2.svg);
}
.prog_cmd_F3
{
  background-image:url(F3.svg);
}
.prog_cmd_F4
{
  background-image:url(F4.svg);
}

.prog_cond
{
  background-size:auto 200%;
  background-repeat:no-repeat;
  background-position: center;
  text-align:center;
  opacity:0.5;
}
.prog_cond_Blue
{
  background-image:url(crate0.svg);
}
.prog_cond_Yellow
{
  background-image:url(crate1.svg);
}
.prog_cond_Red
{
  background-image:url(crate2.svg);
}
.prog_cond_Green
{
  background-image:url(crate3.svg);
}
.prog_cond_Any
{
  background-image:url(clw-open.svg);
}
.prog_cond_None
{
}
.prog_cond_Empty
{
  background-image:url(clw-shut.svg);
}

.pallet
{
  background-size:50% 50%;
  background-repeat:no-repeat;
  background-position: center;
}
.pallet_1
{
  background-image:url(pallet_1.svg);
}
.pallet_2
{
  background-image:url(pallet_2.svg);
}
.pallet_3
{
  background-image:url(pallet_3.svg);
}
.pallet_4
{
  background-image:url(pallet_4.svg);
}
.pallet_5
{
  background-image:url(pallet_5.svg);
}
.pallet_6
{
  background-image:url(pallet_6.svg);
}
.pallet_7
{
  background-image:url(pallet_7.svg);
}
.pallet_8
{
  background-image:url(pallet_8.svg);
}
